@page "/kids-games"

<div>
    <Breadcrumb Items="NavItems1"></Breadcrumb>
</div>

<h1>Please select the game you want to play</h1>

<div style="height: 50px;"></div>

<div class="menu">
    <div class="item">
        <NavLink class="nav-link" href="kids-games/halving">
            🍎 / 🍎
            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Halving
        </NavLink>
    </div>
    <div class="item">
        <NavLink class="nav-link" href="kids-games/matching">
            🏆 = 🏆
            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Matching
        </NavLink>
    </div>
</div>
