@page "/"

<PageTitle>AStar Development</PageTitle>

<h1 style="font-size: 64px">Welcome!</h1>
<p TextSize="TextSize.Large">
    Welcome to the AStar Development website. This site is not real, AStar Development is not a real company - this site is just a playground for me.
</p>
<p>&nbsp;</p>
<p TextSize="TextSize.Large">
    That said, there are a plethora of NuGet packages published under the AStar Development banner and all are fully supported - all I ask is a little patience in resolving any issues reported.
</p>
<p>&nbsp;</p>
<p TextSize="TextSize.Large">
    Thanks in advance.
</p>
<div class="center-screen">
    <img src="assets/astar-logo.png" alt="AStar Development">
</div>
