@page "/{*route:nonfile}"

<PageTitle>AStar Dev: Page Not Found</PageTitle>
<h1>Page Not Found</h1>

<div style="font-size: 50px;">
    😭
</div>

<p>&nbsp;</p>
<p>We're sorry, but the page you're looking for could not be found.</p>

<h2>Suggestions</h2>
<p>&nbsp;</p>

<ul>
    <li>If you manually entered the page path, please check the URL - especially for any capital letters (they are not supported in the URLs at this time as we're running the site on case-sensitive
        systems to save costs).
    </li>
    <li>If you clicked a link (especially from this site) to get here, please rest assured, this issue has been logged and we will endeavour to resolve the issue as soon as possible.</li>
</ul>

@code {

    [Inject]
    public required ILogger<NotFound> Logger { get; set; }

    /// <inheritdoc />
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Logger.LogWarning("The {PageName} was not found. Please check whether it should exist or whether this is likely 'just' a typo.", Route);
        }

        return Task.CompletedTask;
    }

    [Parameter]
    public string? Route { get; set; }

}
