@page "/admin/models-to-ignore"
@attribute [Authorize(Policy = "AdminOnly")]

<PageTitle>@App.PageTitle("NuGet Documentation")</PageTitle>
<PageTitle>Models To Ignore</PageTitle>

<h1>Models To Ignore</h1>
