@using AStar.Dev.Web.Components.Layout
@using Microsoft.AspNetCore.Components.Authorization
<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <CascadingAuthenticationState>
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)">
                <NotAuthorized>
                    <p>You're not authorized to view this page. Have you logged in?</p>
                </NotAuthorized>
            </AuthorizeRouteView>
        </CascadingAuthenticationState>
    </Found>
</Router>
