@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Nav

<div style="padding-top: 7px; padding-left: 20px; padding-right: 20px;">
    <AuthorizeView>
        <Authorized>
            Hello, @_name!
            <Button Color="ButtonColor.Primary" Target="Target.Blank">
                <i class="fa-solid fa-user"></i> <i class="fa fa-sign-out" aria-hidden="true"></i>
                <a id="signout"
                   href="javascript:void(0)"
                   @onclick="SignOut"
                   style="color: goldenrod"> Sign Out</a>
            </Button>
        </Authorized>
        <NotAuthorized Context="LogIn">

            <Button Color="ButtonColor.Primary" Target="Target.Blank">
                <i class="fa fa-sign-in" aria-hidden="true"></i> <i class="fa-solid fa-user"></i>
                <a id="signin"
                   href="javascript:void(0)"
                   @onclick="SignIn"
                   style="color: goldenrod"> Sign In</a>
            </Button>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {

    private void SignIn()
    {
        var returnUrl = new Uri(Nav.Uri).PathAndQuery;
        Nav.NavigateTo($"/MicrosoftIdentity/Account/SignIn?returnUrl={Uri.EscapeDataString(returnUrl)}", true);
    }

    private void SignOut()
    {
        var returnUrl = "/";
        Nav.NavigateTo($"/MicrosoftIdentity/Account/SignOut?returnUrl={Uri.EscapeDataString(returnUrl)}", true);
    }

}
