@inherits LayoutComponentBase

<div class="bb-page">

    <Sidebar2 @ref="_sidebar"
              Href="/"
              ImageSrc="./assets/astar.png"
              Title="AStar Development"
              DataProvider="Sidebar2DataProvider"
              Width="300"
              WidthUnit="Unit.Px"/>

    <main>
        <div class="bb-top-row px-4 d-flex justify-content-between">
            <Icon Name="IconName.List" role="button" @onclick="ToggleSidebar"/>
            <Button Color="ButtonColor.Success" Target="Target.Blank">
                <a href="https://github.com/astar-development" class="btn btn-success" target="_blank" role="button">AStar Development on
                    <Icon Name="IconName.Github"></Icon>
                </a>
            </Button>
            <LoginDisplay/>
            <div class="float-end">
                <ThemeSwitcher Position="DropdownMenuPosition.End"/>
            </div>
        </div>

        <article class="content px-4">
            <div class="py-2">@Body</div>
        </article>

        <footer>Copyright &copy; AStar Development, @DateTime.UtcNow.Year </footer>

    </main>

</div>
